.coin-card {
	
	
	margin: 25px;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	background-color: rgb(50, 53, 70);
	color: white;	
	flex-direction: column;
	
	
   
}
.coin-card:hover{
	transform: scale(1.03);
	transform:translateY(-5px);
	transition: 0.2s ease-in-out;
	cursor:pointer;
}
.coin-icon-graph{
	display: flex;
	justify-content: space-between;
	
	align-items:center;
	cursor: pointer;

}
.coin-title{
	color:white;
	font-size:1.2rem;

}

.graph-filter-green{
	filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
}

.graph-filter-red{
	filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
}
.coin-cap-green{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #16c784;
	min-width: 100%;
	justify-content: space-between;
}
.coin-cap-red{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #ea3943;
	min-width: 100%;
	justify-content: space-between;
}
.coin-status{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.IoMdArrowDropdown{
	color:#ea3943;
}