

.card
{
    flex-basis: 18%;
    

    margin: 25px;

    /* border: 1px black solid; */
    border-radius: 10px;

    box-shadow: 5px 5px 10px #999;

    padding: 20px;
}

.card > h1
{
    font-family:'Times New Roman', Times, serif;
    /* text-decoration: underline; */
}

.card > h3
{
    font-family:serif;
}

.card > ul
{
    list-style-type:circle;
}

.card > ul > li{
    margin: 10px 20px;
    font-family: serif;
    font-size: 1.1em;
}

.card > button
{
    margin: 20px 30%;
    width: 40%;
    height: 50px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;

    background-color: #333;
    color:  whitesmoke;

    border-radius: 30px;
}

.cardHorizontalRule
{
    height: 1px;
    margin:20px 10px;
    /* width: 3px; */
    background-color: #333;
}

.cardSubscriptionDetails
{
    font-size: 1rem;
}